<h3> Image Map (2) </h3>

Click one of the areas below to visit the OSU, OU, or NSU website.

<br>

<!--<a href="abc">-->
    <!--<img src="https://www.billrosener.com/teaching/is3053/assignments/assignment4/oklahoma.gif" ismap>-->
<!--</a>-->

<img src="https://www.billrosener.com/teaching/is3053/assignments/assignment4/oklahoma.gif" usemap="#OK-MAP">

<map name="OK-MAP">
    <area shape="rect" coords="300, 45, 375, 100" href="https://www.nsuok.edu" alt="NSU">
    <area shape="circle" coords="245, 55, 25" href="https://www.okstate.edu" alt="OSU">
    <area shape="poly" coords="200, 90, 250, 90, 250, 125, 225, 150, 200, 125" href="https://www.ou.edu" alt="OU">
</map>