<style type="text/css">
    layout-table {
        font-family: Verdana, Arial, sans-serif;
        font-size: 1.2em;
    }

    layout-table {
        display: table;
    }

    layout-row {
        display: table-row;
        empty-cells: show;
    }

    layout-row a {
        text-decoration: none;
    }

    layout-row a:hover {
        text-decoration: none !important;
    }

    layout-row:nth-child(even) {
        background-color: lightblue;
    }

    layout-row:nth-child(odd) {
        background-color: lightpink;
    }

    layout-row:hover {
        background-color: green;
    }
</style>

<layout-table>
    <layout-row>
        <a href="http://www.somewhere.com">Alabama</a>
    </layout-row>

    <layout-row>
        <a href="http://www.somewhere.com">Alaska</a>
    </layout-row>

    <layout-row>
        <a href="http://www.somewhere.com">Arizona</a>
    </layout-row>

    <layout-row>
        <a href="http://www.somewhere.com">Arkansas</a>
    </layout-row>

    <layout-row>
        <a href="http://www.somewhere.com">California</a>
    </layout-row>

    <layout-row>
        <a href="http://www.somewhere.com">Colorado</a>
    </layout-row>

    <layout-row>
        <a href="http://www.somewhere.com">Connecticut</a>
    </layout-row>

    <layout-row>
        <a href="http://www.somewhere.com">Delaware</a>
    </layout-row>
</layout-table>