<h2> Table 1 </h2>

<table border="1" width="300">
    <tr bgcolor="pink" height="50" align="center">
        <td>North</td>
        <td>South</td>
    </tr>
    <tr height="50" align="center">
        <td>Office 1</td>
        <td>Office 2</td>
    </tr>
</table>

<br>

<h2> Table 2</h2>

<table border="1" width="300">
    <tr bgcolor="pink" height="50" align="center">
        <td colspan="2">Table Header</td>
    </tr>
    <tr align="center">
        <td bgcolor="#ff7f50" rowspan="2">North</td>
        <td bgcolor="#c71585" height="50">Office 1</td>
    </tr>

    <tr align="center">
        <td bgcolor="#c71585" height="50">Office 2</td>
    </tr>
</table>