<h1> Links </h1>

<a href="https://www.weather.com">Weather</a>

<p></p>

<a style="color: green;" href="https://www.weather.com">Weather</a>

<p></p>

<a style="color: white; background-color: green;" href="https://www.weather.com">Weather</a>

<p></p>

<a style="text-decoration: none" href="https://www.weather.com">Weather</a>

<p></p>

<a style="text-decoration: underline" href="https://www.weather.com">Weather</a>

<p></p>

<a target="_blank" href="https://www.weather.com">Weather (Blank)</a>

<p></p>

<a href="https://www.weather.com">
    <img src="https://s.w-x.co/twc_180x180.png" width="180" height="180" alt="weather">
</a>

<p></p>

<a href="files/Resume.docx">File</a>
