<div class="container overflow-auto">
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="carouselController" class="carousel slide" data-ride="carousel">
                <ol  class="carousel-indicators">
                    <li data-target="#carouselController" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselController" data-slide-to="1"></li>
                    <li data-target="#carouselController" data-slide-to="2"></li>
                    <li data-target="#carouselController" data-slide-to="3"></li>
                    <li data-target="#carouselController" data-slide-to="4"></li>
                    <li data-target="#carouselController" data-slide-to="5"></li>
                    <li data-target="#carouselController" data-slide-to="6"></li>
                    <li data-target="#carouselController" data-slide-to="7"></li>
                    <li data-target="#carouselController" data-slide-to="8"></li>
                    <li data-target="#carouselController" data-slide-to="9"></li>
                    <li data-target="#carouselController" data-slide-to="10"></li>
                    <li data-target="#carouselController" data-slide-to="11"></li>
                </ol>
                <div class="carousel-inner">
                    <div id="slide1" class="carousel-item active">
                        <img src="images/final/final1before.jpg" alt="img">
                        <img src="images/final/final1.jpg" alt="img">
                    </div>
                    <div id="slide2" class="carousel-item">
                        <img src="images/final/final2before.jpg" alt="img">
                        <img src="images/final/final2.jpg" alt="img">
                    </div>
                    <div id="slide3" class="carousel-item">
                        <img src="images/final/final3before.jpg" alt="img">
                        <img src="images/final/final3.jpg" alt="img">
                    </div>
                    <div id="slide4" class="carousel-item">
                        <img src="images/final/final4before.jpg" alt="img">
                        <img src="images/final/final4.jpg" alt="img">
                    </div>
                    <div id="slide5" class="carousel-item">
                        <img src="images/final/final5before.jpg" alt="img">
                        <img src="images/final/final5.jpg" alt="img">
                    </div>
                    <div id="slide6" class="carousel-item">
                        <img src="images/final/final6.jpg" alt="img">
                    </div>
                    <div id="slide7" class="carousel-item">
                        <img src="images/final/final7before.jpg" alt="img">
                        <img src="images/final/final7.jpg" alt="img">
                    </div>
                    <div id="slide8" class="carousel-item">
                        <img src="images/final/final8before.jpg" alt="img">
                        <img src="images/final/final8.jpg" alt="img">
                    </div>
                    <div id="slide9" class="carousel-item">
                        <img src="images/final/final9before.jpg" alt="img">
                        <img src="images/final/final9.jpg" alt="img">
                    </div>
                    <div id="slide10" class="carousel-item">
                        <img src="images/final/final10.gif" alt="img">
                    </div>
                    <div id="slide11" class="carousel-item">
                        <img src="images/final/final11.gif" alt="img">
                    </div>
                    <div id="slide12" class="carousel-item">
                        <img style="width: 460px; height: 284px" src="images/final/final12.jpg" usemap="#TECH-MAP" alt="img">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselController" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselController" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <map name="TECH-MAP">
                <area shape="circle" coords="55,19,6" href="https://www.amazon.com" alt="AMAZON">
                <area shape="circle" coords="30,131,6" href="https://www.google.com" alt="GOOGLE">
                <area shape="circle" coords="252,168,7" href="https://www.walmart.com" alt="WALMART">
            </map>
        </div>
    </div>
</div>

