<script type="text/javascript">
    function convert()
    {
        let c, f, conversion;
        c = parseFloat(document.form1.celsius.value);
        f = parseFloat(document.form1.fahrenheit.value);

        if (!isNaN(c) && isNaN(f))
        {
            conversion = (c * 9/5) + 32;
        }
        else if (!isNaN(f) && isNaN(c))
        {
            conversion = (f - 32) * 5/9;
        }
        else
        {
            conversion = "";
        	alert("Make sure Celsius or Fahrenheit is blank for the conversion to work.");
        }
        document.form1.conversion.value = conversion;
    }
</script>

<div class="container overflow-auto">
    <div class="row">
        <div class="col-md-12 text-center">
            <form name="form1">
                <table>
                    <tr>
                        <td align="right">
                            Celsius: <input type="text" name="celsius" size="10" value="">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Fahrenheit: <input type="text" name="fahrenheit" size="10" value="">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Result: <input type="text" name="conversion" size="10" value="">
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <input type="button" value="Convert" onclick="convert()">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

