<footer>
    <ul>
        <li><p>Contact Information:&nbsp</p></li>
        <li><a href="files/Resume.docx"><span>Resume</span></a></li>
        <li><a href="https://github.com/adinballew"><span>Github</span></a></li>
    </ul>
</footer>