<footer class="footer">
    <ul>
        <li>
            <div class="footer-copyright text-center">© 2019
                <a href="https://adinballew.com"> adinballew.com</a>
            </div>
        </li>
        <li>
            <a target="_blank" href="https://github.com/adinballew">
                <i class="fab fa-github-alt"></i>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/adin-ballew-400153119/">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
    </ul>
</footer>