<div class="d-flex justify-content-between">
    <div id="leftHeader">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <br>
                    <!-- Header -->
                    <div id="fa-links">
                        <!--<a href="http://facebook.com">-->
                        <!--<i aria-hidden="true" class="fa fa-facebook"></i>-->
                        <!--</a>-->
                        <!--<a href="http://twitter.com">-->
                        <!--<i aria-hidden="true" class="fa fa-twitter"></i>-->
                        <!--</a>-->
                        <!--<a href="http://instagram.com">-->
                        <!--<i aria-hidden="true" class="fa fa-instagram"></i>-->
                        <!--</a>-->
                        <!--<a href="http://gmail.com">-->
                        <!--<i aria-hidden="true" class="fa fa-envelope"></i>-->
                        <!--</a>-->
                        <!--<a href="http://phone.com">-->
                        <!--<i aria-hidden="true" class="fa fa-phone"></i>-->
                        <!--</a>-->
                    </div>
                </div> <!-- leftHeader -->
            </div>
        </div>
    </div>
</div> <!-- rightHeader TODO: Maybe Align rightHeader Better -->