<br>
<div class="jumbotron">
    <h1>Projects</h1>
</div>
<button class="btn btn-primary">
    <a href="https://github.com/adinballew/ACPi">ACPi</a>
</button>
<hr>
<p>
    A Smart Thermostat Raspberry Pi Application
    that uses the GPIO pins to operate a 4 Channel Relay
</p>
<button class="btn btn-primary">
    <a href="https://github.com/adinballew/IMDB_RSS">IMDB_RSS</a>
</button>
<hr>
<p>
    A Jupyter Notebook that queries a RSS Feed to get Movies,
    Queries a Movie Database for ratings, and plots the movies
    in a Matplotlib.
</p>
<button class="btn btn-primary">
    <a href="https://github.com/adinballew/TheBratCrew">Demo Website</a>
</button>
<hr>
<p>
    A Demo Website I build for a friend's Vape Company.
</p>
<button class="btn btn-primary">
    <a href="https://github.com/adinballew/adinballew">Portfolio</a>
</button>
<hr>
<p>
    This Portfolio. Built using some of my favorite Web Design tools.
</p>