<br>
<img style="border-radius: 50%" src="images/profile.jpg" alt="profile">
<br>
<br>
<h3 style="text-align: left">About</h3>
<hr>
<p>Full-Stack Software Developer with 2 years' experience working in a<br/>
    fast-moving startup environment.</p>
<h4>Skills</h4>
<hr>
<ul style="list-style-type: none; padding: 0">
    <li>Object Oriented Programming</li>
    <li>Front-end Development</li>
    <li>Back-end Development</li>
    <li>Relational Databases</li>
    <li>Cloud Services</li>
</ul>