<nav class="navbar navbar-toggleable-sm navbar-expand-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">☰
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="interests">Interests</a>
            </li>
        </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Assignments 1-20
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="assignment1">Assignment 1</a>
                <a class="dropdown-item" href="assignment2">Assignment 2</a>
                <a class="dropdown-item" href="assignment3">Assignment 3</a>
                <a class="dropdown-item" href="assignment4">Assignment 4</a>
                <a class="dropdown-item" href="assignment5">Assignment 5</a>
                <a class="dropdown-item" href="assignment6">Assignment 6</a>
                <a class="dropdown-item" href="assignment7">Assignment 7</a>
                <a class="dropdown-item" href="assignment8">Assignment 8</a>
                <a class="dropdown-item" href="assignment9">Assignment 9</a>
                <a class="dropdown-item" href="assignment10">Assignment 10</a>
                <a class="dropdown-item" href="assignment11">Assignment 11</a>
                <a class="dropdown-item" href="assignment12">Assignment 12</a>
                <a class="dropdown-item" href="assignment13">Assignment 13</a>
                <a class="dropdown-item" href="assignment14">Assignment 14</a>
                <a class="dropdown-item" href="assignment15">Assignment 15</a>
                <a class="dropdown-item" href="assignment16">Assignment 16</a>
                <a class="dropdown-item" href="assignment17">Assignment 17</a>
                <a class="dropdown-item" href="assignment18">Assignment 18</a>
                <a class="dropdown-item" href="assignment19">Assignment 19</a>
                <a class="dropdown-item" href="assignment20">Assignment 20</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Assignments 21-38
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="assignment21">Assignment 21</a>
                <a class="dropdown-item" href="assignment22">Assignment 22</a>
                <a class="dropdown-item" href="assignment23">Assignment 23</a>
                <a class="dropdown-item" href="assignment24">Assignment 24</a>
                <a class="dropdown-item" href="assignment25">Assignment 25</a>
                <a class="dropdown-item" href="assignment26">Assignment 26</a>
                <a class="dropdown-item" href="assignment27">Assignment 27</a>
                <a class="dropdown-item" href="assignment28">Assignment 28</a>
                <a class="dropdown-item" href="assignment29">Assignment 29</a>
                <a class="dropdown-item" href="assignment30">Assignment 30</a>
                <a class="dropdown-item" href="assignment31">Assignment 31</a>
                <a class="dropdown-item" href="assignment32">Assignment 32</a>
                <a class="dropdown-item" href="assignment33">Assignment 33</a>
                <a class="dropdown-item" href="assignment34">Assignment 34</a>
                <a class="dropdown-item" href="assignment35">Assignment 35</a>
                <a class="dropdown-item" href="assignment36">Assignment 36</a>
                <a class="dropdown-item" href="assignment37">Assignment 37</a>
                <a class="dropdown-item" href="assignment38">Assignment 38</a>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exams
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="exam1">Exam 1</a>
                <a class="dropdown-item" href="exam2">Exam 2</a>
                <a class="dropdown-item" href="exam3">Exam 3</a>
                <a class="dropdown-item" href="finalexam">Final Exam</a>
                <a class="dropdown-item" href="finalexam2">Javascript</a>
                <a class="dropdown-item" href="checklist">Checklist</a>
            </div>
        </div>
    </div>
</nav>