<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="adinballew portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="adinballew">
    <title>{{title}}</title>
    {{>css}}
</head>
<body>
<div id="wrapper" class="container" id="main-container">
    {{>header}}
    {{>navbar}}
    {{{body}}}
    {{>footer}}
</div>
{{>js}}
</body>
</html>