<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Adin Ballew Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adin Ballew">
    <title>{{title}}</title>
    {{>css}}
</head>
<body>
<div class="night">
    {{#each array}}
        <div class="shooting_star"></div>
    {{/each}}
</div>
<div id="home" class="flex">
    {{{body}}}
</div>
{{>js}}
</body>
</html>