{{!< default}}
<div class="container-fluid">
    <div id="body-header">
        <div class="body-header-text">Contact</div>
        <div class="body-header-bar"></div>
    </div>
    <form id="contact-form" role="form" action="/send-email" method="post">
        <input type="text" class="input-name" name="name" placeholder="Name" required>
        <input type="text" class="input-email" name="email" placeholder="Email" required>
        <textarea class="input-message" type="textarea" name="message" placeholder="Message" required></textarea>
        <div class="submit-button">
            <button type="submit" name="submit" class="button-small">
                <span>Send</span>
            </button>
        </div>
    </form>
</div>

