{{!< welcome}}
<div class="flex">
    <div class="text">
        <div class="typewriter">
            Hello, My Name is&nbsp<span class="firstName">Adin</span>&nbsp<span class="lastName">Ballew.</span>
        </div>
        I'm a Full-Stack Developer.
    </div>
    <a class="button" href="/about">
        <span>About</span>
    </a>
</div>
<!--TODO: Fix for Mobile -->