<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h1 style="text-align: center">Current Interests</h1>
            <hr>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h1>Animations</h1>
            <a href="https://codepen.io/YusukeNakaya/pen/XyOaBj">Live Background Animations</a>
            <img style="width: 100%" src="images/animation.gif" alt="animation">
        </div>
        <div class="col-md-4">
            <h1>Tensorflow</h1>
            <a href="https://github.com/thtrieu/darkflow">Image Classification</a>
            <img style="width: 100%" src="images/darkflow.gif" alt="darkflow">
        </div>
        <div class="col-md-4">
            <h1>Socket.IO</h1>
            <a href="https://socket.io/">Socket.IO</a>
            <img style="width: 100%" src="images/socketio.jpg" alt="socket.io">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <hr>
            <p>Animations allow websites to feel more alive.</p>
        </div>
        <div class="col-md-4">
            <hr>
            <p>Machine learning is the future.</p>
        </div>
        <div class="col-md-4">
            <hr>
            <p>A very interesting API for breaking away from the get/post method of building websites.</p>
        </div>
    </div>
</div>