{{!< default}}
<div id="projects" class="container-fluid">
    <div id="body-header">
        <div class="body-header-text">Projects</div>
        <div class="body-header-bar"></div>
    </div>
    <div class="row top-row">
        <div class="col-xl-6 col-lg-12 left-col">
            <div class="project">
                <div class="project-link">
                    <img class="project-image" src="images/acpi.png" alt="project-image">
                    <div class="overlay"></div>
                    <div class="button-container">
                        <a class="button-small" href="https://github.com/adinballew/ACPi">
                            <span>ACPi</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="project-description">
                <span>
                    A Smart Thermostat Raspberry Pi Application that uses the
                    GPIO pins to operate a 4 Channel Relay. Using Socket.IO and
                    Firebase API, ACPi is able to provided live and historical
                    sensor data.
                </span>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 right-col">
            <div class="project">
                <div class="project-link">
                    <img class="project-image" src="images/IMDB_RSS.png" alt="project-image">
                    <div class="overlay"></div>
                    <div class="button-container">
                        <a class="button-small" href="https://github.com/adinballew/IMDB_RSS">
                            <span>IMDB_RSS</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="project-description">
                <span>
                    A Jupyter Notebook that queries a RSS Feed to get Movies,
                    Queries a Movie Database for ratings, and plots the movies
                    in a Matplotlib bar graph.
                </span>
            </div>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="col-xl-6 col-lg-12 left-col">
            <div class="project">
                <div class="project-link">
                    <img class="project-image" src="images/HackerRank.png" alt="project-image">
                    <div class="overlay"></div>
                    <div class="button-container">
                        <a class="button-small" href="https://github.com/adinballew/HackerRank">
                            <span>Hacker Rank</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="project-description">
                <span>
                    A Repository of all the Hacker Rank Interview Preparation Kit
                    questions I have completed so far.
                </span>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 right-col">
            <div class="project">
                <div class="project-link">
                    <img class="project-image" src="images/portfolio.png" alt="project-image">
                    <div class="overlay"></div>
                    <div class="button-container">
                        <a class="button-small" href="https://github.com/adinballew/adinballew">
                            <span>Portfolio</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="project-description">
                <span>
                    This Portfolio. Designed using some of my favorite Web Design tools.
                    Built to both showcase some of my front-end abilities as well as describe
                    them.
                </span>
            </div>
        </div>
    </div>
</div>
