{{!< default}}
<div class="container-fluid">
    <div id="body-header">
        <div class="body-header-text">Projects</div>
        <div class="body-header-bar"></div>
    </div>
    <div class="row">
        <a class="button-small" href="https://github.com/adinballew/ACPi">
            <span>ACPi</span>
        </a>
        <p>
            A Smart Thermostat Raspberry Pi Application
            that uses the GPIO pins to operate a 4 Channel Relay
        </p>
        <a class="button-small" href="https://github.com/adinballew/IMDB_RSS">
            <span>IMDB_RSS</span>
        </a>
        <p>
            A Jupyter Notebook that queries a RSS Feed to get Movies,
            Queries a Movie Database for ratings, and plots the movies
            in a Matplotlib bar graph.
        </p>
        <a class="button-small" href="https://github.com/adinballew/TheBratCrew">
            <span>Demo Website</span>
        </a>
        <p>
            A Demo Website I designed for a friend's Vape Company.
        </p>
        <a class="button-small" href="https://github.com/adinballew/adinballew">
            <span>Portfolio</span>
        </a>
        <p>
            This Portfolio. Designed using some of my favorite Web Design tools.
        </p>
    </div>
</div>
