$color_1: #E7DFDD
$background_color_1: #0c0916
$background_color_2: #4717F6
$border_color_1: #4717F6

.jumbotron
  background: $background_color_2
  padding: 1em

.btn-primary
  background-color: $background_color_2
  border-color: $border_color_1
  a
    color: $color_1
    &:hover
      text-decoration: none
