/**Navbar**/
.navbar {
    height: 100%;
    background-size: 200%;
    background: #000000;
    border-bottom: 1px solid #181818;
    border-right: 1px solid #181818;
}

.navbar a {
    color: #E7DFDD;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/**Navbar Items**/
nav li:hover {
    text-decoration: none;
}

nav li:first-child {
    margin-left: 0;
}

nav .form-inline {
    display: inline-block;
}

/**Navbar Buttons**/
nav .btn-primary {
    background: #000000;
    color: #E7DFDD;
}

nav .btn-primary:hover, nav .btn-primary:focus, nav .btn-primary:active, nav .btn-primary.active {
    background: #181D35;
}

nav .btn-primary:active, nav .btn-primary.active {
    background: #4717F6;
}

/**Dropdown Menu**/
.dropdown-menu {
    position: absolute;
    align-content: flex-end !important;
}

.dropdown-menu, .dropdown-menu.show, .dropdown-item {
    background: #0a0a14;
}

/**Navbar Toggler**/
.navbar-toggler-icon {
    background-image: url("../images/icons/menu.png");
}