@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import "background.sass"
@import "navbar.sass"
@import "index.sass"
@import "about.sass"
@import "projects.sass"
@import "contact.sass"
@import "footer.sass"

$color_1: #E7DFDD
$background_color_1: #0c0916
$background_color_2: #4717F6
$border_color_1: #4717F6
$hover_active: #181D35

// Layout
html, body
  height: 100%
  margin: 0

body
  background-size: cover
  background: $background_color_1 no-repeat fixed center center
  color: $color_1
  font-family: "Montserrat", monospace
  font-size: 20px
  position: relative
  overflow-x: hidden

#wrapper
  min-height: 100%
  margin-bottom: -40px


// Global Styles
hr
  border: 1px solid $color_1

.carousel
  height: 100%
  background: #0E0B16 no-repeat center center
  display: block

.carousel-item
  height: 100%

  img
    width: 300px

.carousel-indicators
  bottom: -50px

.carousel-control-next
  &:hover
    background-color: $background_color_1

.carousel-control-prev
  &:hover
    background-color: $background_color_1

.sr-only
  background: $hover_active

.button
  margin-top: 1em
  text-decoration: none
  text-transform: uppercase
  display: flex
  justify-content: center
  align-items: center
  height: 60px
  width: 150px
  border: 1px solid $color_1
  border-radius: 10px

  span
    color: $color_1
    font-size: 28px
    font-weight: 500

  &:hover
    background: rgba(0, 1, 0, .5)

.button-small
  background: none
  text-decoration: none
  text-transform: uppercase
  display: flex
  justify-content: center
  align-items: center
  height: 44px
  width: 124px
  border: 2px solid $color_1
  border-radius: 10px

  span
    color: $color_1
    font-size: small
    font-weight: 500

  &:hover
    text-decoration: underline $color_1
    background: rgba(0, 1, 0, .5)