html, body {
    height: 100%;
}

body {
    background-size: cover;
    background: #0E0B16 no-repeat fixed center center;
    position: relative;
    overflow-x: hidden;
    color: #E7DFDD;
    font-family: "Times New Roman", monospace; /* TODO: Use google fonts https://fonts.google.com/ */
    font-size: 20px;

}

html > body #wrapper {
    height: auto;
}

hr {
    border: 1px solid #E7DFDD
}