@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-size: cover;
    background: #0E0B16 no-repeat fixed center center;
    color: #E7DFDD;
    font-family: "Montserrat", monospace;
    font-size: 20px;
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    padding-bottom: 50px;
}

hr {
    border: 1px solid #E7DFDD
}